*.swp
.venv
id_rsa*
*openrc.sh
secure.yaml
terraform.tfvars
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock.info
.terraform
.terraform.lock.hcl
ssh_config
cluster.yml
cluster.rkestate
kube_config_cluster.yml
